version: 2.1
setup: true

parameters:
  root-folder:
    type: string
    default: ~/github.com/personal/circleci
    
orbs:
  path-filtering: circleci/path-filtering@0.1.3

workflows:
  backend:
    jobs:
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/config-backend.yml
          mapping:
            - backend/.* backend-has-changed true
  # frontend:
  #   jobs:
  #     - path-filtering/filter:
  #         base-revision: main
  #         config-path: .circleci/config-frontend.yml
  #         mapping: frontend/.* frontend-has-changed true