version: 2.1
setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.3

workflows:
  split:
    jobs:
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/config-continue.yml
          mapping: |
            backend/.* backend-has-changed true
            frontend/.* frontend-has-changed true